* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  list-style: none;
  text-decoration: none;
}

body {
  margin: 2px;
  padding: 2px;
}
h1 {
  text-align: center;
}
header {
  background-color: rgb(209, 209, 209);
}
header > p {
  display: flex;
  justify-content: center;
  padding: 10px;
  margin: 10px;
}

header > nav > ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
}
header a {
  color: black;
}
a:hover {
  text-decoration: underline;
}
main {
  margin: 10px;
  padding: 10px;
}
#fotoDni {
  width: 100px;
  margin: 10px;
}
main section {
  margin: 5px;
  padding: 5px;
}
h2 {
  margin: 5px;
  padding: 5px;
}
footer {
  margin: 5px;
  padding: 5px;
  background-color: #111;
  color: #fff;
}
#Contacto h2 {
  text-align: center;
}
#Contacto ul {
  display: flex;
  justify-content: space-between;
}
#gmail {
  width: 50px;
}
